<header class="site-header">
  <div class="top-bar py-2 bg-primary">
    <div class="container">
      <div
        class="top-bar-container d-flex aling-items-center justify-content-between"
      >
        <nav class="contact-list">
          <ul class="d-flex aling-items-center m-0 list-unstyled">
            <li>
              <a
                href="mailto:info@pivot.com"
                class="fs-6 text-primary-contrast d-flex align-items-center"
              >
              <i class="fa fa-envelope me-1 fs-4 h-auto m-auto"></i>
                <span class="d-block lh-sm">info@pivot.com</span>
              </a>
            </li>
            <li class="ms-3">
              <a
                href="tel:+919586620320"
                class="fs-6 text-primary-contrast d-flex align-items-center"
              >
              <i class="fa fa-phone me-1 fs-4 h-auto m-auto"></i>
                <span class="d-block lh-sm">+91 95866 20320</span>
              </a>
            </li>
          </ul>
        </nav>

        <nav class="social-list">
          <ul class="d-flex aling-items-center m-0 list-unstyled">
            <li>
              <a
                href="javascript:;"
                class="fs-6 text-primary-contrast d-flex align-items-center"
              >
                Send an inquiry on Whats App
                <i class="fa fa-whatsapp me-1 fs-4 h-auto m-auto ms-2"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                href="javascript:;"
                class="fs-6 text-primary-contrast text-decoration-none"
              >
                <i class="fa fa-facebook me-1 fs-4 h-auto m-auto"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                href="javascript:;"
                class="fs-6 text-primary-contrast text-decoration-none"
              >
                <i class="fa fa-instagram me-1 fs-4 h-auto m-auto"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                href="javascript:;"
                class="fs-6 text-primary-contrast text-decoration-none"
              >
                <i class="fa fa-twitter me-1 fs-4 h-auto m-auto"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                href="javascript:;"
                class="fs-6 text-primary-contrast text-decoration-none"
              >
                <i class="fa fa-youtube me-1 fs-4 h-auto m-auto"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="logo-bar-header py-2 shadow">
    <div class="container">
      <div
        class="logo-container d-flex align-items-center justify-content-between"
      >
        <div class="logo-wraper">
          <h1>
            <a routerLink="/">
              <img [src]="'logo.jpg' | assetsimage" alt="Site Logo" />
            </a>
          </h1>
        </div>

        <nav class="main-navigation">
          <ul class="d-flex align-items-center m-0 list-unstyled">
            <li>
              <a
                routerLink="login"
                class="lh-1 fs-5 text-primary d-block px-2 text-primary-hover border-1 border-end border-primary"
              >
                Login
              </a>
            </li>
            <li>
              <a
                routerLink="sign-up"
                class="lh-1 fs-5 text-primary d-block px-2 text-primary-hover"
              >
                Sign Up
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
