@use '../../../../../../scss/theme/theme' as theme;
:host {
  .image-column {
    height: 300px;
  }
  .google-map {
    height: 500px;
    background-image: url('../../../../../../assets/images/map-location.png');
    background-size: contain;
  }
  .bg-secondary-3 {
    background-color: rgba($color: theme.$secondary, $alpha: 0.3);
  }

  .filter-toggle-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: -15px;
    z-index: 5;
    &.filter-closed {
      height: auto;
      width: 36px;
      left: -3px;
      border-radius: 0px 1rem 1rem 0px;
      padding: 15px 0px;
      text-align: center;
      .toggle-label {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        margin: 0 auto;
      }
    }
    &.map-toggle-button {
      top: 150px
    }


  }

  &::ng-deep {
    .lb-closeContainer {
      position: absolute;
      top: 0;
      right: 40px;
    }

  }
}
