@use "sass:map";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Text Colors
$contrasts: 'primary', 'secondary', 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 'A100', 'A200', 'A400', 'A700';
$imageSize: cover, contain;


// Text contrasts
@each $contrast in $contrasts {
  .text-#{$contrast}-contrast {
    @if $contrast == 'primary' {
      color: map-get($pivot-palette, 'contrast', 500) !important;
    } @else if ($contrast == 'secondary') {
      color: map-get($pivot-palette, 'contrast', 'A200') !important;
    } @else {
      color: map-get($pivot-palette, 'contrast', $contrast) !important;
    }
  }
  .text-#{$contrast} {
    @if $contrast == 'primary' {
      color: map-get($pivot-palette, 500) !important;
    } @else if ($contrast == 'secondary') {
      color: map-get($pivot-palette, 'A200') !important;
    } @else {
      color: map-get($pivot-palette, $contrast) !important;
    }
  }
}
// border
@each $contrast in $contrasts {
  body .border-#{$contrast} {
    @if $contrast == 'primary' {
      border-color: map-get($pivot-palette,  500) !important;
    } @else if ($contrast == 'secondary') {
      border-color: map-get($pivot-palette,  'A200') !important;
    } @else {
      border-color: map-get($pivot-palette,  $contrast) !important;
    }
  }
}
// BG contrasts
@each $contrast in $contrasts {
  .bg-#{$contrast} {
    @if $contrast == 'primary' {
      background-color: map-get($pivot-palette, 500) !important;
    } @else if ($contrast == 'secondary') {
      background-color: map-get($pivot-palette, A200) !important;
    } @else {
      background-color: map-get($pivot-palette, $contrast) !important;
    }
  }
}
// Hover Text contrasts
@each $contrast in $contrasts {
  .text-#{$contrast}-hover:hover,
  .text-#{$contrast}-hover:focus,
  .text-#{$contrast}-hover.active {
    @if $contrast == 'primary' {
      color: map-get($pivot-palette, 500) !important;
    } @else if ($contrast == 'secondary') {
      color: map-get($pivot-palette,'A200') !important;
    } @else {
      color: map-get($pivot-palette, $contrast) !important;
    }
  }
}

@each $size in $imageSize {
  .image-#{$size} {
    width: 100% !important;
    height: 100% !important;
    object-fit: $size !important;
  }
}
