<div class="contact-wraper position-relative py-5">
  <div class="container">
    <h2 class="fs-2 text-black mb-4">Contact Us</h2>

    <div class="all-contact-area d-row">
      <div class="col-md-6 contact-column mb-5">
        <h3 class="fs-2 text-A700">Correspondence Address</h3>
        <p class="fs-3 lh-1 m-0">
          A 204 Empire Business Hub, Science City Rd, <br> Ahmedabad, Gujarat 380060
        </p>
      </div>
      <div class="col-md-6 contact-column mb-5">
        <h3 class="fs-2 text-A700">Registered Address</h3>
        <p class="fs-3 lh-1 m-0">
          A 204 Empire Business Hub, Science City Rd, <br>  Ahmedabad, Gujarat 380060
        </p>
      </div>
      <div class="col-md-6 contact-column mb-5">
        <h3 class="fs-2 text-A700">Contact Number</h3>
        <a class="fs-3 lh-1 m-0 d-block text-primary-hover" href="tel:+919586620320"
          >+91 95866 20320
        </a>
      </div>
      <div class="col-md-6 contact-column mb-5">
        <h3 class="fs-2 text-A700">For All Queries</h3>
        <a class="fs-3 lh-1 m-0 d-block text-primary-hover" href="mailTo:info@pivot.com"
          >info@pivot.com
        </a>
      </div>
    </div>
  </div>
</div>
<section class="contact-form-wraper position-relative py-5 bg-A700">
  <div class="container">
    <div class="contact-form-container d-row">
      <div class="col-md-6 contact-info">
        <h3 class="text-A700-contrast fs-3">Love to Hear From You</h3>
        <p class="text-A700-contrast fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam felis neque, gravida ac mauris sed,
          fringilla dignissim magna. Nulla in massa nec tellus
          euismod tincidunt. Nullam pretium cursus metus
          nec lobortis. Vestibulum sit amet mi facilisis,
          eleifend ligula eu, ornare quam. Vestibulum
          venenatis varius sapien, in tristique odio egestas in.
          Etiam id dui sit amet mi viverra condimentum. Morbi
          at purus mi. Donec id ante posuere, accumsan sem
          in, congue nisl. Praesent varius nulla consectetur,
          maximus ligula pretium, ornare tortor. Proin vitae
          orci eu turpis blandit lobortis. Donec quis velit sed
          felis ullamcorper fermentum.
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam felis neque, gravida ac mauris sed,
          fringilla dignissim magna. Nulla in massa nec tellus
          euismod tincidunt. Nullam pretium cursus metus
          nec lobortis. Vestibulum sit amet mi facilisis,
          eleifend ligula eu, ornare quam. Vestibulum
          venenatis varius sapien, in tristique odio egestas in.
          Etiam id dui sit amet mi viverra condimentum. Morbi
          at purus mi. Donec id ante posuere, accumsan sem
          in, congue nisl. Praesent varius nulla consectetur,
          maximus ligula pretium, ornare tortor. Proin vitae
          orci eu turpis blandit lobortis. Donec quis velit sed
          felis ullamcorper fermentum. Donec id ante posuere, accumsan sem
          in, congue nisl. Praesent varius nulla consectetur,
          maximus ligula pretium, ornare tortor. Proin vitae
          orci eu turpis blandit lobortis. Donec quis velit sed
          felis ullamcorper fermentum.
          </p>
      </div>
      <div class="col-md-6 contact-form">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</section>
<section class="contact-map-wraper position-relative">

</section>
<!-- Find Property Section -->
<section class="container-fluid find-pro-section py-5 bg-primary">
  <div class="container">
    <div class="find-pro-section-container">
      <div class="form-rows d-row">
        <div class="col-md-6 find-property-form border-end border-white">
          <div class="form-header border-bottom border-white">
            <h3 class="text-center text-secondary-contrast fs-3 mb-1 lh-1">
              Find Property
            </h3>
            <p class="text-center text-secondary-contrast fs-6">(Occupier)</p>
          </div>
          <app-property-find-form></app-property-find-form>
        </div>
        <div class="col-md-6 list-property-form">
          <div class="form-header border-bottom border-white">
            <h3 class="text-center text-secondary-contrast fs-3 mb-1 lh-1">
              List Your Property
            </h3>
            <p class="text-center text-secondary-contrast fs-6">
              (Developer / Builder / Land Owner)
            </p>
          </div>
          <app-property-find-form></app-property-find-form>
        </div>
      </div>
    </div>
  </div>
</section>
