<div class="about-us position-relative py-5">
  <div class="container">
    <h2 class="fs-2 text-black mb-4">About Us</h2>

    <div class="about-us-block-a d-flex flex-wrap align-items-center">
      <div class="about-image col-lg-4">
        <img
          [src]="'factory.jpg' | assetsimage"
          alt="About image a"
          class="img-fluid rounded"
        />
      </div>
      <div class="about-content-a fs-5 col-lg-8 font-primary-semibold ps-lg-5 mt-lg-0 mt-sm-5 lh-sm">
        <p>
          Pivoting the way Industrial, Land & Logistics Real Estate is sourced &
          transacted.
        </p>
        <p>Organizing Industrial, Land & Logistics Real Estate.</p>
        <p>Creating value in each Sq.Ft. and each Acre.</p>
        <p>
          PIVOT is the only modern real estate digital platform focussed on
          Industrial, Land & Logistics Real Estate pairing the industry demand
          with cutting edge technology & impeccable insights to make the search
          & transaction experience efficient & seamless.
        </p>
      </div>
    </div>

    <div
      class="about-us-block-a d-flex flex-wrap align-items-start flex-row-reverse mt-5"
    >
      <div class="about-image  col-lg-4">
        <img
          [src]="'factory.jpg' | assetsimage"
          alt="About image a"
          class="img-fluid rounded"
        />
      </div>
      <div class="about-content-a col-lg-8 fs-5 font-primary-semibold pse-lg-5 mt-lg-0 mt-sm-5 lh-sm">
        <p>
          Our Mission is to simplify & organize Industrial, Land & Logistics
          Real Estate.
        </p>
        <p>
          Industrial, Land & Logistics is a critical & imperative part of the
          entire Real Estate chain and economy. While the VUCA world made us
          witness the WFH as a concept evolve suddenly, Industrial, Land &
          Logistics as a sector cannot be eliminated.
        </p>
        <p>
          Highly critical to any country’s economical growth, manufacturing is
          the most important stage and requires specific real estate solutions
          whether be Industrial Facilities or Land and is a very industry
          specific matter. The next stage is distribution & warehousing which
          also requires specific and tailored real estate. While any company
          needs to comply with region specific regulations & permits,
          Industrial, Land & Logistics Real Estate is extremely un-organized
          with lack of proper benchmarking.
        </p>
        <p>
          On this very axis, we aim to PIVOT the way Industrial, Land &
          Logistics Real Estate is sourced & transacted.
        </p>

        <div class="at-the-helm">
          <h4 class="fs-5 font-primary-semibold">At The Helm</h4>
          <div class="team-members d-flex">
            <div class="team-member d-flex align-items-center">
              <div class="avatar-image border border-A700 rounded-circle">
                <img [src]="'factory.jpg' | assetsimage" class="image-cover" />
              </div>
              <div class="avatar-detail ps-3">
                <h5 class="text-A700 fs-4 mb-0 lh-1 font-primary-bold mb-1">Mayuri Shah</h5>
                <p class="fs-5 mb-0 lh-1">Founder & CTO</p>
              </div>
            </div>

            <div class="team-member d-flex align-items-center ms-5">
              <div class="avatar-image border border-A700 rounded-circle">
                <img [src]="'factory.jpg' | assetsimage" class="image-cover" />
              </div>
              <div class="avatar-detail ps-3">
                <h5 class="text-A700 fs-4 mb-0 lh-1 font-primary-bold mb-1">Parin Shah</h5>
                <p class="fs-5 mb-0 lh-1">Founder & CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container border-top py-5 mt-5">
    <div class="all-result flex-wrap d-flex align-items-center">
      <div class="result col-lg-3 col-sm-6 col-12">
        <h2 class="text-A700 result-text fs-1 text-center lh-1">1500+</h2>
        <h3 class="text-center fs-3 font-primary-regular">
          Properties Available
        </h3>
      </div>
      <div class="result col-lg-3 col-sm-6  col-12">
        <h2 class="text-A700 result-text fs-1 text-center lh-1">750</h2>
        <h3 class="text-center fs-3 font-primary-regular">
          Successful Projects
        </h3>
      </div>
      <div class="result col-lg-3 col-sm-6 col-12">
        <h2 class="text-A700 result-text fs-1 text-center lh-1">5</h2>
        <h3 class="text-center fs-3 font-primary-regular">
          Years Of Experience
        </h3>
      </div>
      <div class="result col-lg-3 col-sm-6 col-12">
        <h2 class="text-A700 result-text fs-1 text-center lh-1">150</h2>
        <h3 class="text-center fs-3 font-primary-regular">Cities Covered</h3>
      </div>
    </div>
  </div>
</div>
