<!-- Data Block -->
<ng-content select="app-nx-data"></ng-content>
<!-- Loader Block-->
<ng-container *ngIf="isDefaultLoader; else loaderTemp">
  <ng-container *ngIf="content.isSend && !content.isAgain">
    <app-nx-loader [isDefault]="true"></app-nx-loader>
  </ng-container>
</ng-container>
<ng-container *ngIf="isDefaultLoaderAgain && content.isAgain">
  <app-nx-loader [isDefault]="true" type="again"></app-nx-loader>
</ng-container>
<!-- Error Block -->
<ng-container *ngIf="isDefaultError; else errorTemp">
  <app-nx-error *ngIf="content.isFailed"></app-nx-error>
</ng-container>
<!-- No data Block -->
<ng-container *ngIf="isDefaultNoData; else nodataTemp">
  <app-nx-nodata *ngIf="content.isDone && isDataEmpty && !content.isFailed"></app-nx-nodata>
</ng-container>
<ng-content></ng-content>

<!-- Temps -->
<ng-template #loaderTemp>
  <ng-content select="app-nx-loader" *ngIf="content.isSend"></ng-content>
</ng-template>
<ng-template #errorTemp>
  <ng-content select="app-nx-error" *ngIf="content.isFailed"></ng-content>
</ng-template>
<ng-template #nodataTemp>
  <ng-content
    select="app-nx-nodata"
    *ngIf="content.isDone && isDataEmpty && !content.isFailed"
  ></ng-content>
</ng-template>
