<footer class="side-footer py-4 bg-A700">
  <div class="container">
    <div class="footer-container col-md-9  m-auto">
      <div class="logo-wraper border-1 border-bottom border-white d-flex justify-content-center">
        <a routerLink="/" class="d-block py-3">
          <img [src]="'f-logo.jpg' | assetsimage" alt="Site Logo">
        </a>
      </div>
      <div class="footer-navigation mt-4">
        <ul class="list-unstyled d-flex flex-wrap align-items-center justify-content-around">
          <li class="mx-2">
            <a routerLink="/about-us" class="d-block fs-4 text-A700-contrast">
              About Us
            </a>
          </li>
          <li class="mx-2">
            <a routerLink="/contact-us" class="d-block fs-4 text-A700-contrast">
              Contact Us
            </a>
          </li>
          <li class="mx-2">
            <a routerLink="/our-services" class="d-block fs-4 text-A700-contrast">
              Services
            </a>
          </li>
          <li class="mx-2">
            <a routerLink="/" class="d-block fs-4 text-A700-contrast">
              Micro-Market Overviews
            </a>
          </li>
          <li class="mx-2">
            <a routerLink="/" class="d-block fs-4 text-A700-contrast">
              Find Property
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-social-navigation flex-wrap d-flex justify-content-center mt-4">
        <ul class="d-flex aling-items-center m-0 list-unstyled">
          <li>
            <a
              href="tel:+919586620320"
              class="fs-5 text-primary-contrast d-flex align-items-center"
            >
              <i class="fa fa-phone me-1 fs-3 h-auto m-auto"></i>
              +91 95866 20320
            </a>
          </li>
          <li class="ms-3">
            <a
              href="tel:+919586620320"
              class="fs-5 text-primary-contrast d-flex align-items-center"
            >
              <i class="fa fa-whatsapp me-1 fs-3 h-auto m-auto"></i>
              +91 95866 20320
            </a>
          </li>
        </ul>
      </div>
      <div class="copy-right mt-5">
        <p class="m-0 fs-6 text-A700-contrast text-center">© 2022 by PIVOT. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
