:host {
  &.app-map-marker {
    .marker-svg {
      width: 52px;
      height: 52px;
      position: relative;
      animation: bounce 1s;
      animation-timing-function: ease;
      transform: translateY(0px);
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
    }
  }
}
