<div class="d-flex map-and-listing-wraper" *ngIf="!(propertiesDataSelectors.isFailed$ | async); else compeleteError">
  <!-- Filter 20% -->
  <div
    [ngStyle]="{ flex: sectionSplitState.filter ? 1 : 0 }"
    class="filter-wraper position-relative"
  >
    <app-property-filter-tile
      #filterTile
      [class.d-none]="!sectionSplitState.filter"
      class="h-100"
      (filter)="filterProperties($event)"
    >
    </app-property-filter-tile>
    <ng-container *ngTemplateOutlet="filterTryOpenButton"></ng-container>
  </div>
  <!-- Map -->
  <div
    class="bg-secondary map-wraper-part position-relative d-flex"
    [ngStyle]="{ height: filterTileHeight + 'px',  flex: sectionSplitState.map ? 2 : 0 }"
  >
    <div
      [class.d-none]="!sectionSplitState.map"
      class="map-wraper d-flex w-100 h-100"
    >
    <google-map [options]="googleMapConfig" class="w-100 h-100">
        <map-info-window>Info Window content</map-info-window>
      </google-map>
    </div>
    <ng-container *ngTemplateOutlet="mapOpenButton"></ng-container>
  </div>
  <!-- List -->
  <div
    class="position-relative listing-wraper-part bg-white"
    [ngStyle]="{ height: filterTileHeight + 'px',  flex: sectionSplitState.listing ? 2 : 0 }"
  >
    <div
      [class.d-none]="!sectionSplitState.listing"
      class="listing-wraper hide-scrollbar"
      [ngStyle]="{ height: filterTileHeight + 'px' }"
    >
      <app-ngrxdata
        class="w-1001"
        [isDefaultLoader]="false"
        [selector]="propertiesDataSelectors"
        #properties="ngrxdata"
      >
        <app-nx-data *ngIf="properties.content.isDone || properties.content.isAgain">
          <!-- Filter Header -->
          <div
            class="listing-header p-4 py-3 bg-white position-sticky d-flex align-items-center justify-content-between"
          >
            <ul
              class="list-unstyled m-0 p-0 filtered-list-actions d-flex align-items-center col-md-8"
            >
              <li class="ps-2">
                <p class="fs-6 m-0 font-primary-semibold">Showing {{properties.content.data.length}} results</p>
              </li>
            </ul>

            <!-- <mat-select
              class="app-dropdown col-md-4 rounded border font-primary-semibold"
              value="Sort by relevance"
            >
              <mat-option value="Sort by relevance"
                >Sort by relevance</mat-option
              >
            </mat-select> -->
          </div>
          <!-- List -->
          <div
            class="all-listing pt-0 p-4 d-flex flex-wrap mt-2 justify-content-center"
          >
            <app-property-tile
              [property]="property"
              *ngFor="let property of properties.content.data; trackBy: propertyTrackByFuc"
            ></app-property-tile>
          </div>
        </app-nx-data>
        <app-nx-loader>
            <ng-template [ngTemplateOutlet]="propertyLoader"></ng-template>
        </app-nx-loader>
      </app-ngrxdata>
    </div>
    <ng-container *ngTemplateOutlet="listingOpenButton"></ng-container>
  </div>
</div>

<ng-template #compeleteError>
  <app-nx-error></app-nx-error>
</ng-template>
<!-- Buttons -->
<ng-template #filterTryOpenButton>
  <a
    href="javascript:;"
    class="fs-4 filter-toggle-button d-block"
    [ngClass]="{
      'd-flex align-items-center justify-content-center text-secondary border border-secondary rounded-circle bg-white':
        sectionSplitState.filter,
      'bg-primary filter-closed': !sectionSplitState.filter
    }"
    (click)="sectionSplit('filter')"
  >
    <i
      class="fa"
      [class.fa-angle-double-left]="sectionSplitState.filter"
      [class.text-primary-contrast]="!sectionSplitState.filter"
      [class.fa-angle-double-right]="!sectionSplitState.filter"
    ></i>
    <span
      *ngIf="!sectionSplitState.filter"
      class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
      >Search</span
    >
  </a>
</ng-template>
<ng-template #listingOpenButton>
  <ng-container *ngIf="sectionSplitState.map">
    <a
      href="javascript:;"
      class="fs-4 filter-toggle-button d-block liting-toggle-button"
      [ngClass]="{
        'd-flex align-items-center justify-content-center text-secondary border border-secondary rounded-circle bg-white':
          sectionSplitState.listing,
        'bg-primary filter-closed': !sectionSplitState.listing
      }"
      (click)="
        sectionSplit(!sectionSplitState.listing ? 'map' : 'listing')
      "
    >
      <i
        class="fa"
        [class.fa-code]="sectionSplitState.listing"
        [class.text-primary-contrast]="!sectionSplitState.listing"
        [class.fa-angle-double-left]="!sectionSplitState.listing"
      ></i>
      <span
        *ngIf="!sectionSplitState.listing"
        class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
        >Listing</span
      >
    </a>
  </ng-container>
</ng-template>
<ng-template #mapOpenButton>
  <ng-container *ngIf="!sectionSplitState.map">
    <a
      href="javascript:;"
      class="fs-4 filter-toggle-button d-block map-toggle-button bg-primary filter-closed"
      (click)="sectionSplit('mapListing')"
    >
      <i class="fa fa-angle-double-right text-primary-contrast"></i>
      <span
        class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
        >Map</span
      >
    </a>
  </ng-container>
</ng-template>
<!-- Loader -->
<ng-template #propertyLoader>
  <div
  class="listing-header p-4 py-3 bg-white position-sticky d-flex align-items-center justify-content-between"
>
  <ul
    class="list-unstyled m-0 p-0 filtered-list-actions d-flex align-items-center col-md-8"
  >    <li class="ps-2"><ngx-skeleton-loader  count="1"  [theme]="{height: '20px',width: '150px'}"></ngx-skeleton-loader></li>
  </ul>
  <ngx-skeleton-loader  count="1"  [theme]="{height: '40px',width: '150px'}"></ngx-skeleton-loader>
</div>
<ngx-skeleton-loader  class="all-listing pt-0 p-4 d-flex flex-wrap mt-2 justify-content-center" count="6"  [theme]="{
  'border-radius': '5px',
  height: '350px',
  width: 'calc(94% / 2)',
  'max-width': '320px',
  margin: '1%'
}"></ngx-skeleton-loader>
</ng-template>

