<div class="d-flex map-and-listing-wraper">
  <!-- Filter 20% -->
  <div
    [style.width]="sectionSplitState.filter.width"
    class="filter-wraper position-relative"
  >
    <app-property-filter-tile
      #filterTile
      [class.d-none]="!sectionSplitState.filter.show"
      class="h-100"
      (filter)="filterProperties($event)"
    >
    </app-property-filter-tile>
    <ng-container *ngTemplateOutlet="filterTryOpenButton"></ng-container>

  </div>
  <!-- Map -->
  <div
    [style.width]="sectionSplitState.map.width"
    class="bg-secondary position-relative d-flex"
    [ngStyle]="{ height: filterTileHeight + 'px' }"
  >
    <div
      [class.d-none]="!sectionSplitState.map.show"
      class="map-wraper d-flex w-100 h-100"
    >
      <google-map class="w-100 h-100"
        [options]="googleMapConfig">
      </google-map>
    </div>
    <ng-container *ngTemplateOutlet="mapOpenButton"></ng-container>
  </div>
  <!-- List -->
  <div
    [style.width]="sectionSplitState.listing.width"
    class="position-relative bg-white"
  >
    <div
      [class.d-none]="!sectionSplitState.listing.show"
      class="listing-wraper hide-scrollbar"
      [ngStyle]="{ height: filterTileHeight + 'px' }"
    >
      <app-ngrxdata
        class="w-1001"
        [isDefaultLoader]="false"
        [selector]="propertiesDataSelectors"
        #properties="ngrxdata"
      >
        <app-nx-data *ngIf="properties.content.isDone || properties.content.isAgain">
          <!-- Filter Header -->
          <div
            class="listing-header p-4 py-3 bg-white position-sticky d-flex align-items-center justify-content-between"
          >
            <ul
              class="list-unstyled m-0 p-0 filtered-list-actions d-flex align-items-center col-md-8"
            >
              <!-- <li class="m-1">
                <a
                  href="javascript:;"
                  class="d-block filter-view-change-action active"
                >
                  <i class="fa fa-th-large"></i>
                </a>
              </li>
              <li class="m-1">
                <a
                  href="javascript:;"
                  class="d-block filter-view-change-action"
                >
                  <i class="fa fa-list"></i>
                </a>
              </li> -->
              <li class="ps-2">
                <p class="fs-6 m-0 font-primary-semibold">Showing {{properties.content.data.length}} results</p>
              </li>
            </ul>

            <mat-select
              class="app-dropdown col-md-4 rounded border font-primary-semibold"
              value="Sort by relevance"
            >
              <mat-option value="Sort by relevance"
                >Sort by relevance</mat-option
              >
            </mat-select>
          </div>
          <!-- List -->
          <div
            class="all-listing pt-0 p-4 d-flex flex-wrap mt-2 justify-content-center"
          >
            <app-property-tile
              [property]="property"
              *ngFor="let property of properties.content.data; trackBy: propertyTrackByFuc"
            ></app-property-tile>
          </div>
        </app-nx-data>
        <app-nx-loader>
            <ng-template [ngTemplateOutlet]="propertyLoader"></ng-template>
        </app-nx-loader>
      </app-ngrxdata>
    </div>
    <ng-container *ngTemplateOutlet="listingOpenButton"></ng-container>
  </div>
</div>

<ng-template #filterTryOpenButton>
  <a
    href="javascript:;"
    class="fs-4 filter-toggle-button d-block"
    [ngClass]="{
      'd-flex align-items-center justify-content-center text-secondary border border-secondary rounded-circle bg-white':
        sectionSplitState.filter.show,
      'bg-primary filter-closed': !sectionSplitState.filter.show
    }"
    (click)="sectionSplit('filter')"
  >
    <i
      class="fa"
      [class.fa-angle-double-left]="sectionSplitState.filter.show"
      [class.text-primary-contrast]="!sectionSplitState.filter.show"
      [class.fa-angle-double-right]="!sectionSplitState.filter.show"
    ></i>
    <span
      *ngIf="!sectionSplitState.filter.show"
      class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
      >Search</span
    >
  </a>
</ng-template>
<ng-template #listingOpenButton>
  <ng-container *ngIf="sectionSplitState.map.show">
    <a
      href="javascript:;"
      class="fs-4 filter-toggle-button d-block liting-toggle-button"
      [ngClass]="{
        'd-flex align-items-center justify-content-center text-secondary border border-secondary rounded-circle bg-white':
          sectionSplitState.listing.show,
        'bg-primary filter-closed': !sectionSplitState.listing.show
      }"
      (click)="
        sectionSplit(!sectionSplitState.listing.show ? 'map' : 'listing')
      "
    >
      <i
        class="fa"
        [class.fa-code]="sectionSplitState.listing.show"
        [class.text-primary-contrast]="!sectionSplitState.listing.show"
        [class.fa-angle-double-left]="!sectionSplitState.listing.show"
      ></i>
      <span
        *ngIf="!sectionSplitState.listing.show"
        class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
        >Listing</span
      >
    </a>
  </ng-container>
</ng-template>
<ng-template #mapOpenButton>
  <ng-container *ngIf="!sectionSplitState.map.show">
    <a
      href="javascript:;"
      class="fs-4 filter-toggle-button d-block map-toggle-button bg-primary filter-closed"
      (click)="sectionSplit('mapListing')"
    >
      <i class="fa fa-angle-double-right text-primary-contrast"></i>
      <span
        class="toggle-label text-primary-contrast d-block fs-6 mt-1 opacity-75"
        >Map</span
      >
    </a>
  </ng-container>
</ng-template>

<ng-template #propertyLoader>
  <div
  class="listing-header p-4 py-3 bg-white position-sticky d-flex align-items-center justify-content-between"
>
  <ul
    class="list-unstyled m-0 p-0 filtered-list-actions d-flex align-items-center col-md-8"
  >
    <!-- <li class="m-1"><ngx-skeleton-loader  count="1"  [theme]="{height: '36px',width: '36px'}"></ngx-skeleton-loader></li>
    <li class="m-1"><ngx-skeleton-loader  count="1"  [theme]="{height: '36px',width: '36px'}"></ngx-skeleton-loader></li> -->
    <li class="ps-2"><ngx-skeleton-loader  count="1"  [theme]="{height: '20px',width: '150px'}"></ngx-skeleton-loader></li>
  </ul>

  <ngx-skeleton-loader  count="1"  [theme]="{height: '40px',width: '150px'}"></ngx-skeleton-loader>
</div>
<ngx-skeleton-loader  class="all-listing pt-0 p-4 d-flex flex-wrap mt-2 justify-content-center" count="6"  [theme]="{
  'border-radius': '5px',
  height: '350px',
  width: 'calc(94% / 2)',
  'max-width': '320px',
  margin: '1%'
}"></ngx-skeleton-loader>
</ng-template>

