// Common Css
:root {
  --bs-body-font-family: 'Proxima Nova Rg'
}
html, body { height: 100%; }
body { margin: 0;  font-family: 'Proxima Nova Rg' !important; }
a {
  text-decoration: none !important;
}
a:hover, a:focus {
  color: white !important;
}

// Media
@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
